# Ignore all non-md content in _source_* dirs (directory-level ignore blocks negation)
#_source_*/**
#!_source_*/**/
#!_source_*/**/*.md
_source_e0sec_ctf_writeups/
.obsidian/workspace.json
.obsidian/plugins/
