ch.zernanvash.dev {
    encode zstd gzip

    reverse_proxy 127.0.0.1:8765 {
        header_up X-Forwarded-For {remote_host}
        header_up X-Real-IP {remote_host}
        header_up -Forwarded
    }
}

